* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
}
body a {
  text-decoration: none;
  color: #5856D6;
}
body ul {
  list-style-type: none;
}

header .encabezado {
  width: 100%;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}
header .encabezado .logo {
  margin: 24px;
}
header .encabezado .navbar .nav-list {
  display: flex;
  gap: 72px;
  font-size: 24px;
}
header .encabezado .navbar .nav-list li a {
  transition: color 0.3s ease-in-out;
}
header .encabezado .navbar .nav-list li a:hover {
  color: #908ff4;
}
header .encabezado .botones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 2rem;
}
header .encabezado .botones .boton-inicio {
  width: 145px;
  height: 50px;
  color: white;
  background: #5856D6;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .encabezado .botones .boton-inicio ul li a {
  color: white;
}
header .encabezado .botones .boton-registro {
  width: 126px;
  height: 50px;
  border: 1px solid #5856D6;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .encabezado .hamburguer {
  display: none;
}

footer .footer {
  width: 100%;
  height: 394px;
  background: #010047;
  color: white;
  display: flex;
}
footer .footer a {
  color: white;
}
footer .footer .info {
  width: 220px;
  height: 282px;
  margin: 53px 41px 59px 172px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer .contacto {
  margin-top: 53px;
  width: 220px;
  height: 282px;
}
footer .footer .contacto .logosinfo a {
  margin: 8px;
  padding-top: 20px;
}
footer .footer .contacto h4 {
  margin-bottom: 22px;
}
footer .derechos {
  background-color: #010047;
  color: rgb(134, 134, 134);
  text-align: center;
  padding-bottom: 20px;
}
footer .derechos p {
  font-size: 16px;
  opacity: 50%;
}

main .container {
  width: 100%;
  height: 16.5625rem;
}
main .container .banner {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .container .banner .banner-text {
  width: 50%;
}
main .container .banner .banner-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #5856D6;
  margin-bottom: 1.25rem;
}
main .container .banner .banner-text h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5856D6;
  margin-bottom: 0.625rem;
}
main .container .banner .banner-text h4 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #5856D6;
}
main .box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
main .box .card, main .box .card2, main .box .card3 {
  background: #5856D6;
  border-radius: 2.125rem;
  height: 7.5625rem;
  width: 21.5625rem;
  display: flex;
  flex-direction: row-reverse;
}
main .box .card img, main .box .card2 img, main .box .card3 img {
  margin-right: 0.9375rem;
}
main .box .card div, main .box .card2 div, main .box .card3 div {
  color: white;
  margin: 1.25rem;
}
main .box .card div h3, main .box .card2 div h3, main .box .card3 div h3 {
  font-size: 1.375rem;
  margin-bottom: 0.625rem;
}
main .box .card div p, main .box .card2 div p, main .box .card3 div p {
  font-size: 0.875rem;
}
main .titulo2 {
  width: 100%;
  height: auto;
  background-color: #5856D6;
  color: white;
  font-size: 2.1875rem;
  text-align: center;
  margin-top: 1.875rem;
}
main .titulo2 h2 {
  padding: 1.875rem;
}
main .ventajas {
  background-color: #5856D6;
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.5rem;
  gap: 1.25rem;
}
main .ventajas img {
  margin: 0.3125rem;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background: #FFFFFF;
}
main .ventajas h4 {
  font-size: 1.25rem;
  margin-left: 1.25rem;
}
main .ventajas p {
  margin-left: 1.25rem;
  margin-top: 0.625rem;
}
main .ventajas .ventajas1, main .ventajas .ventajas2, main .ventajas .ventajas3 {
  width: 53.0625rem;
  height: 100%;
  display: flex;
}
main .titulo3 {
  width: 100%;
  height: auto;
}
main .titulo3 h2 {
  font-size: 3rem;
  color: #5856D6;
  text-align: center;
}
main .cuadros {
  background-color: #5856D6;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  gap: 3.4375rem;
  justify-content: center;
  padding-top: 2.75rem;
  padding-bottom: 1.875rem;
}
main .cuadros h4 {
  color: #5856D6;
  font-family: "SF Pro Display";
  font-style: normal;
  font-size: 1.25rem;
  margin: 0.6875rem 5rem 0.6875rem 1rem;
}
main .cuadros p {
  font-family: "SF Pro Display";
  color: #5856D6;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin: 0.6875rem 1.5625rem 2.75rem 1rem;
}
main .cuadros .cuadro1, main .cuadros .cuadro2, main .cuadros .cuadro3 {
  width: 17rem;
  height: auto;
  display: flex;
  background-color: white;
  border-radius: 1.25rem;
  flex-direction: column;
}
main .info-descarga {
  width: 100%;
  height: 10.4375rem;
  background-color: #5856D6;
  display: flex;
  color: white;
  justify-content: space-around;
}
main .info-descarga .escanea {
  width: 50% px;
  height: 8.25rem;
  display: flex;
  gap: 1.625rem;
  align-items: center;
}
main .info-descarga .escanea img {
  width: 6.25rem;
  height: 6.25rem;
}
main .info-descarga .descarga {
  width: 50% px;
  height: 8.25rem;
  display: flex;
  gap: 1.625rem;
  align-items: center;
}
main .info-descarga .descarga img {
  width: 13.3125rem;
  height: 4.875rem;
}
main .tienda {
  display: flex;
  justify-content: space-evenly;
  height: 47.0625rem;
  margin-top: 3.125rem;
}
main .tienda .card-info {
  flex-direction: column;
}
main .tienda .card-info h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  color: #FFCC00;
}
main .tienda .card-info h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #5856D6;
  margin-bottom: 3.8125rem;
}
main .tienda .formulario-tienda {
  color: #5856D6;
  font-weight: 700;
  font-size: 1.25rem;
}
main .tienda .formulario-tienda form input {
  border: 0.0625rem solid #5856D6;
  border-radius: 0.625rem;
  width: 22.4375rem;
  height: 2.6875rem;
  color: black;
  padding-left: 0.625rem;
}
main .tienda .formulario-tienda form div {
  margin: 1.4375rem 0rem 0.3125rem 0rem;
}
main .tienda .formulario-tienda .mapa {
  border-radius: 1.875rem;
}
main .tienda .formulario-tienda .enviar-boton input {
  color: white;
  background-color: #5856D6;
  width: 6.625rem;
  height: 3.125rem;
  font-weight: 600;
  font-size: 1.0625rem;
}
main .main .somos-domii h2 {
  font-weight: 700;
  font-size: 3rem;
  color: #5856D6;
  text-align: center;
  padding: 1.25rem;
}
main .main .somos-domii .texto1 {
  font-size: 1.25rem;
  color: black;
  margin: 6.25rem;
}
main .main .somos-domii .equipo {
  display: flex;
  justify-content: center;
}
main .main .somos-domii .equipo img {
  width: 90%;
  height: auto;
  align-items: center;
}
main .registro {
  display: flex;
  height: 50.25rem;
  align-items: center;
}
main .registro .imagen1 img {
  width: 43.125rem;
  height: 37.625rem;
  border-radius: 1.875rem;
  margin-left: 2.5rem;
}
main .registro .inicio-sesion {
  margin-left: 7.8125rem;
}
main .registro .inicio-sesion .card-inicio {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .registro .inicio-sesion .card-inicio .inicioGoogle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 4.6875rem 0.75rem 4.375rem;
  gap: 0.625rem;
  width: 22.4375rem;
  height: 3.625rem;
  background: #5985E5;
  border-radius: 0.9375rem;
  color: white;
}
main .registro .inicio-sesion .card-inicio .inicioFacebook, main .registro .inicio-sesion .card-inicio .inicioTwitter {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 4.6875rem 0.75rem 3.75rem;
  gap: 0.625rem;
  width: 22.4375rem;
  height: 3.625rem;
  border: 0.0625rem solid rgba(30, 30, 30, 0.2);
  border-radius: 0.9375rem;
}
main .registro .inicio-sesion h4 {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.625rem;
}
main .registro .inicio-sesion div {
  margin: 0.625rem;
}
main .registro .inicio-sesion .inputInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .registro .inicio-sesion .inputInicio div {
  border: 0.0625rem solid rgba(30, 30, 30, 0.2);
}
main .registro .inicio-sesion .inputInicio input {
  padding: 0.875rem 4.6875rem 0.875rem 1.25rem;
  gap: 0.625rem;
  width: 22.4375rem;
  height: 2.6875rem;
  border: 0.0625rem solid rgba(30, 30, 30, 0.2);
  border-radius: 0.625rem;
  margin-top: 1.25rem;
}
main .registro .inicio-sesion .inputInicio p {
  font-size: 0.875rem;
  color: gray;
  text-align: center;
  margin-bottom: 0.625rem;
}
main .registro .inicio-sesion .inputInicio .boton-inicio2 {
  width: 22.4375rem;
  height: 2.6875rem;
  background: #5856D6;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
}
main .registro .inicio-sesion .inputInicio .boton-inicio2 p {
  color: white;
  font-size: 1rem;
  margin-top: 0.625rem;
}
main .registro .inicio-sesion .inputInicio .olvide1 {
  margin-top: 1.25rem;
  border: none;
}
main .hit1 h2 {
  color: #5856D6;
  font-size: 3rem;
  margin: 1.25rem 0rem 1.25rem 3.125rem;
}
main .historial1 {
  display: flex;
  justify-content: space-around;
}
main .historial1 .card-historial div {
  display: flex;
  flex-direction: column;
  width: 25.125rem;
  height: 4.625rem;
  margin: 0.9375rem;
  border-radius: 1.875rem;
  border: solid #5856D6;
}
main .historial1 .card-historial div h4 {
  color: #5856D6;
  padding: 0.875rem 15.25rem 0.125rem 3rem;
}
main .historial1 .card-historial div p {
  color: #FFCC00;
  padding: 0rem 15.25rem 0.5625rem 3rem;
}
main .historial1 .card-historial div i {
  color: #5856D6;
  font-size: 1.25rem;
}
main .historial1 .card-historial .card-historia-1 {
  background-color: #5856D6;
}
main .historial1 .card-historial .card-historia-1 h4 {
  color: white;
}
main .historial1 .card-historial .card-historia-1 i {
  color: white;
}
main .historial1 .card-mapa .card-mapa-1 p {
  color: #5856D6;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.6875rem;
}
main .historial1 .card-mapa .card-mapa-2 {
  width: 22.1875rem;
  height: 11.3125rem;
  border-radius: 1.25rem;
  background: rgba(88, 86, 214, 0.5);
  margin: 1.375rem;
}
main .historial1 .card-mapa .card-mapa-2 div {
  width: 18.0625rem;
  height: 4.0625rem;
  background-color: white;
  margin: 0.4375rem 1.875rem 0.4375rem 2.3125rem;
  border-radius: 0.9375rem;
}
main .historial1 .card-mapa .card-mapa-2 h5 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding: 0.625rem 0rem 0rem 0rem;
}
main .historial1 .card-mapa .card-mapa-2 p {
  font-size: 0.8125rem;
  color: #8E8E93;
  text-align: center;
  margin: 0.625rem 0 0.3125rem 0;
}
main .historial1 .card-mapa .card-mapa-2 i {
  color: rgba(88, 86, 214, 0);
}
main .historial1 .card-info h4 {
  color: white;
  font-size: 1.0625rem;
  font-weight: 700;
  padding-left: 0.9375rem;
  padding-top: 0.75rem;
}
main .historial1 .card-info .tu-domii {
  width: 22.1875rem;
  height: 7.5rem;
  background: rgba(88, 86, 214, 0.5);
  border-radius: 1.25rem;
  margin-bottom: 0.5rem;
}
main .historial1 .card-info .tu-domii .dom {
  width: 19.9375rem;
  height: 3.1875rem;
  background: #F2F2F7;
  border-radius: 0.625rem;
  margin: 1.125rem 1.1875rem 1rem 1.0625rem;
  display: flex;
}
main .historial1 .card-info .tu-domii .dom img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0.375rem 0 0.3125rem 0.625rem;
}
main .historial1 .card-info .tu-domii .dom i {
  color: yellow;
}
main .historial1 .card-info .tu-domii .dom .dom1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.625rem;
}
main .historial1 .card-info .tu-domii .dom .dom1 div {
  display: flex;
}
main .historial1 .card-info .tu-domii .dom .dom1 p {
  color: #5856D6;
  font-size: 0.9375rem;
  font-weight: 700;
}
main .historial1 .card-info .tu-domii .dom .dom1 p:last-child {
  color: black;
}
main .historial1 .card-info .productos {
  width: 22.1875rem;
  height: 7.5rem;
  background: rgba(88, 86, 214, 0.5);
  border-radius: 1.25rem;
  margin-bottom: 0.5rem;
}
main .historial1 .card-info .productos div {
  width: 18.3125rem;
  height: 4.25rem;
  background: #FFFFFF;
  border: 0.125rem solid #5856D6;
  border-radius: 0.625rem;
  display: flex;
  margin: 0.6875rem 2.0625rem 1.5rem 1.9375rem;
  align-items: center;
  justify-content: space-around;
}
main .historial1 .card-info .productos div img {
  width: 3.3125rem;
  height: 2.75rem;
  border-radius: 0.625rem;
}
main .historial1 .card-info .efectivo {
  width: 22.1875rem;
  height: 11.875rem;
  background: rgba(88, 86, 214, 0.5);
  border-radius: 1.25rem;
}
main .historial1 .card-info .efectivo .ef {
  width: 18.1875rem;
  height: 5.375rem;
  border-radius: 0.625rem;
  background: #FFFFFF;
  border: 0.125rem solid #5856D6;
  margin: 1.3125rem 2.0625rem 2.1875rem 1.9375rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .historial1 .card-info .efectivo .ef .ef1 {
  font-size: 0.9375rem;
}
main .historial1 .card-info .efectivo .ef .ef2 {
  font-size: 0.8125rem;
  font-weight: 700;
  color: green;
}
main .historial1 .card-info .efectivo .ef .ef2 p:first-child {
  color: red;
}
main .historial1 .card-info .boton-ayuda {
  width: 5.6875rem;
  height: 3.125rem;
  background: #5856D6;
  border-radius: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.0625rem;
}
main .historial1 .card-info .boton-ayuda p {
  color: white;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 900px) {
  header .encabezado .navbar .nav-list {
    font-size: 18px;
    gap: 30px;
    margin-left: auto;
  }
  header .encabezado .botones {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 10px;
  }
  header .encabezado .botones .boton-inicio, header .encabezado .botones .boton-registro {
    width: 120px;
    height: 40px;
    padding: 0;
  }
  header .encabezado .botones .boton-inicio ul li a, header .encabezado .botones .boton-registro ul li a {
    font-size: 13px;
  }
  main .container .banner .banner-text {
    margin: 20px;
    padding-top: 10px;
  }
  main .container .banner .banner-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  main .container .banner .banner-text h4 {
    font-size: 16px;
    font-weight: 500;
  }
  main .container .banner .banner-img img {
    width: 300px;
  }
  main .box div {
    margin-bottom: 30px;
  }
  main .titulo2 h2 {
    font-size: 28px;
  }
  main .ventajas .ventajas1, main .ventajas .ventajas2, main .ventajas .ventajas3 {
    width: 80%;
    margin: 1rem;
  }
  main .titulo3 {
    height: auto;
  }
  main .titulo3 h2 {
    font-size: 28px;
  }
  main .cuadros {
    gap: 10px;
  }
  main .info-descarga {
    gap: 10px;
  }
  main .main .somos-domii h2 {
    font-size: 40px;
  }
  main .main .somos-domii .texto1 {
    margin: 60px;
  }
  main .registro {
    flex-direction: column-reverse;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
  }
  main .registro .imagen1 {
    margin-bottom: 30px;
  }
  main .registro .imagen1 img {
    margin-left: 0;
    width: auto;
    height: 300px;
  }
  main .registro .inicio-sesion {
    margin: 30px 0px 10px 0px;
  }
  main .tienda .card-info h3 {
    font-size: 28px;
  }
  main .tienda .card-info h5 {
    font-size: 20px;
  }
  main .tienda .card-info .img {
    width: 10px;
  }
  main .hit1 h2 {
    font-size: 30px;
  }
  main .historial1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  main .historial1 .card-historial {
    padding-bottom: 40px;
  }
  main .historial1 .card-mapa .card-mapa-1 {
    text-align: center;
  }
  main .historial1 .card-mapa .card-mapa-1 p {
    margin-bottom: 20px;
  }
  main .historial1 .card-mapa .card-mapa-1 img {
    width: 70%;
  }
  main .historial1 .card-info {
    margin-bottom: 60px;
  }
  main .historial1 .card-info .boton-ayuda {
    margin-top: 20px;
  }
  footer .info {
    margin: 53px 41px 59px 30px;
  }
}
@media (max-width: 744px) {
  header .encabezado .logo {
    height: auto;
  }
  header .encabezado .navbar .nav-list {
    flex-direction: column;
    font-size: 16px;
    gap: 5px;
    padding: 1rem;
  }
  header .encabezado .botones div {
    align-items: center;
  }
  main .container {
    height: auto;
    margin-bottom: 15px;
  }
  main .container .banner .banner-text h1 {
    font-size: 22px;
  }
  main .container .banner .banner-text h4 {
    font-size: 12px;
    font-weight: 300;
  }
  main .container .banner .banner-text h3 {
    font-size: 18px;
  }
  main .titulo2 h2 {
    margin-top: 10px;
  }
  main .ventajas {
    padding-bottom: 50px;
  }
  main .ventajas p {
    font-size: 15px;
  }
  main .ventajas .ventajas1, main .ventajas .ventajas2, main .ventajas .ventajas3 {
    margin-top: 30px;
  }
  main .cuadros {
    gap: 25px;
  }
  main .cuadros h4 {
    margin: 5px 80px 5px 16px;
  }
  main .cuadros .cuadro1, main .cuadros .cuadro2, main .cuadros .cuadro3 {
    width: 187px;
    height: auto;
  }
  main .info-descarga .escanea {
    flex-direction: column;
    gap: 0px;
  }
  main .info-descarga .descarga {
    gap: 10px;
    flex-direction: column;
  }
  main .main .somos-domii h2 {
    font-size: 40px;
  }
  main .main .somos-domii .texto1 {
    margin: 20px 30px 20px 30px;
    font-size: 16px;
  }
  main .tienda {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 100px;
  }
}
@media (max-width: 596px) {
  header .encabezado {
    flex-direction: column;
    height: auto;
  }
  header .encabezado .navbar .nav-list {
    align-items: center;
  }
  header .encabezado .logo {
    margin: 10px 0px 0px 0px;
  }
  header .encabezado .botones {
    padding-right: 0;
  }
  header .encabezado .botones div {
    width: 101px;
    height: 40px;
  }
  header .encabezado .botones div ul li a {
    font-size: 11px;
  }
  main {
    padding-top: 60px;
  }
  main .container .banner .banner-img {
    margin-right: 10px;
  }
  main .container .banner .banner-img img {
    width: 250px;
  }
  main .box .card, main .box .card2, main .box .card3 {
    height: 100px;
    width: 284px;
  }
  main .box .card img, main .box .card2 img, main .box .card3 img {
    margin-right: 0px;
    width: 100px;
    height: 100px;
  }
  main .box .card div h3, main .box .card2 div h3, main .box .card3 div h3 {
    font-size: 16px;
  }
  main .box .card div p, main .box .card2 div p, main .box .card3 div p {
    font-size: 11px;
    width: 149px;
  }
  main .titulo2 h2 {
    font-size: 24px;
  }
  main .ventajas p {
    font-size: 12px;
  }
  main .ventajas h4 {
    font-size: 16px;
  }
  main .titulo3 {
    height: auto;
  }
  main .titulo3 h2 {
    font-size: 24px;
  }
  main .cuadros {
    gap: auto;
    padding: 20px;
  }
  main .cuadros p {
    font-size: 14px;
  }
  main .cuadros .cuadro1, main .cuadros .cuadro2, main .cuadros .cuadro3 {
    height: auto;
  }
  main .main .somos-domii h2 {
    font-size: 30px;
  }
  main .main .somos-domii .texto1 {
    font-size: 14px;
  }
  footer .footer div h4 {
    font-size: 16px;
  }
  footer .footer .info {
    margin: 53px 41px 59px 20px;
  }
  footer .footer .contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer .footer .contacto .logosinfo a img {
    width: 20px;
  }
}
@media (max-width: 393px) {
  header .encabezado .logo {
    height: 50px;
    width: auto;
    margin: 1rem;
  }
  main .container .banner {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  main .container .banner .banner-text {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  main .container .banner .banner-img {
    margin: 0;
    text-align: center;
  }
  main .container .banner .banner-img img {
    width: 70%;
  }
  main .titulo2 {
    text-align: center;
  }
  main .titulo2 h2 {
    font-size: 20px;
    margin-top: 0;
  }
  main .ventajas {
    height: 100%;
  }
  main .ventajas .ventajas1, main .ventajas .ventajas2, main .ventajas .ventajas3 {
    height: 100%;
    width: 351px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .titulo3 h2 {
    line-height: 28px;
    font-size: 20px;
  }
  main .cuadros {
    gap: 10px;
  }
  main .cuadros div {
    width: 169px;
    height: 380px;
  }
  main .cuadros div:last-child {
    display: none;
  }
  main .info-descarga {
    flex-direction: column;
    padding-top: 20px;
    height: auto;
    padding-bottom: 30px;
  }
  main .info-descarga .escanea {
    margin-bottom: 30px;
  }
  main .main .somos-domii h2 {
    font-size: 20px;
  }
  main .main .somos-domii .texto1 p {
    margin: 0px;
    font-size: 14px;
  }
  main .registro .imagen1 img {
    width: 269px;
    height: auto;
  }
  main .registro .inicio-sesion h4 {
    font-size: 28px;
  }
  main .registro .inicio-sesion .card-inicio .inicioGoogle {
    padding: 0px 10px 0px 30px;
    width: 269px;
    height: 58px;
  }
  main .registro .inicio-sesion .card-inicio .inicioFacebook, main .registro .inicio-sesion .card-inicio .inicioTwitter {
    padding: 0px 10px 0px 30px;
    width: 269px;
    height: 58px;
  }
  main .registro .inicio-sesion .inputInicio input {
    width: 269px;
  }
  main .registro .inicio-sesion .inputInicio .boton-inicio2 {
    width: 269px;
  }
  main .tienda .card-info h3 {
    font-size: 20px;
  }
  main .tienda .card-info h5 {
    font-size: 18px;
  }
  main .tienda .card-info img {
    width: 200px;
  }
  main .tienda .formulario-tienda {
    font-size: 16px;
  }
  main .tienda .formulario-tienda form {
    text-align: center;
  }
  main .tienda .formulario-tienda form input {
    width: 269px;
  }
  main .tienda .formulario-tienda .mapa {
    width: 269px;
  }
  main .hit1 h2 {
    font-size: 26px;
  }
  main .historial1 .card-historial {
    padding-bottom: 40px;
  }
  main .historial1 .card-historial div {
    width: 269px;
  }
  main .historial1 .card-historial div h4 {
    font-size: 15px;
    padding: 14px 0 0 40px;
  }
  main .historial1 .card-historial div p {
    padding: 0 0 0 40px;
    font-size: 14px;
  }
  main .historial1 .card-mapa .card-mapa-1 p {
    text-align: center;
  }
  main .historial1 .card-info {
    margin-bottom: 60px;
  }
  main .historial1 .card-info .boton-ayuda {
    margin-top: 20px;
  }
  footer .contacto h4 {
    font-size: 16px;
  }
  footer .contacto a img {
    display: flex;
    flex-direction: column;
  }
  footer .contacto .logosinfo a img {
    width: 20px;
  }
  footer .info h4 {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
