@media (max-width:393px){

    header{
        .encabezado{
            .logo{
                height: 50px;
                width: auto;
                margin: 1rem;
            }
        }
    }
    main{
        .container{
            .banner{
                flex-direction: column;
                justify-content: center;
                .banner-text{
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                .banner-img{
                    margin: 0;
                    text-align: center;
                    img{
                        width: 70%;
                    }
                }
                margin-bottom: 50px;
            }
        }
        // Ventajas - inicio
        .titulo2{
            text-align: center;
            h2{
                font-size: 20px;
                margin-top: 0;
            }
        }
        .ventajas{
            height: 100%; 
            .ventajas1, .ventajas2, .ventajas3{
                height: 100%;
                width: 351px ;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        // Cuadros recomendaciones - inicio
        .titulo3{
            h2{
                line-height: 28px; 
                font-size: 20px;       
            }
        }
        .cuadros{
            gap: 10px;
            div{
                width: 169px;
                height: 380px;  
            }
            div:last-child{
                display: none;
            }
        }
        // descarga info - inicio
        .info-descarga{
            flex-direction: column;
            padding-top: 20px;
            height: auto;
            padding-bottom: 30px;
            .escanea{
                margin-bottom: 30px;
            }
        }
        // Pagina Quienes somos
        .main{
            .somos-domii{
                h2{
                    font-size: 20px;
                }
                .texto1{
                    p{
                        margin:0px;
                        font-size: 14px;       
                    }
                }
            }
        }
        // pagina de registro
        .registro{
            .imagen1{
                img{
                    width: 269px;
                    height: auto;
                }
            }
            .inicio-sesion{
                h4{
                    font-size: 28px;
                }
                .card-inicio{
                    .inicioGoogle{
                        padding: 0px 10px 0px 30px;
                        width: 269px;
                        height: 58px;
                    }
                    .inicioFacebook, .inicioTwitter{
                        padding: 0px 10px 0px 30px;
                        width: 269px;
                        height: 58px;
                    }
                }
                .inputInicio{
                    input{
                        width: 269px;
                    }
                    .boton-inicio2{
                        width: 269px;
                    }
                }
            }
        }
        // pagina de mi tienda
        .tienda{
            .card-info{
                h3{
                    font-size: 20px;
                }
                h5{
                    font-size: 18px;
                }
                img{
                    width: 200px;
                }
            }
            .formulario-tienda{
                font-size: 16px;
                form{
                    text-align: center;
                    input{
                        width: 269px;
                    }
                }
                .mapa{
                    width: 269px;
                }
            }
        }
    
        // pagina Historial
        .hit1{
            h2{
                font-size: 26px;
            }
        }
        .historial1{
            .card-historial{
                padding-bottom: 40px;
                div{
                    width: 269px;
                    h4{
                        font-size: 15px;
                        padding: 14px 0 0 40px;
                    }
                    p{
                        padding: 0 0 0 40px;
                        font-size: 14px;
                    }
                }
            }
            .card-mapa{
                .card-mapa-1{
                    p{
                        text-align: center;
                    }
                }
            }
            .card-info{
                margin-bottom: 60px;
                .boton-ayuda{
                    margin-top: 20px;
                }
            }
        }
    }
   
    footer{
        .contacto{
            h4{
                font-size: 16px;
            }
            a{
                img{
                    display: flex;
                    flex-direction: column;            
                }
            }
            .logosinfo{
                a{
                    img{
                        width: 20px;
                    }
                }
            }
        }
        .info{
            h4{
                font-size: 16px;
            }
        }
    }

}
