main{
    // inicio
    // Banner principal
    .container{
        width: 100%;
        height: 16.5625rem;  
        
        .banner{
            width: 100%;
            height: 80%;
            display: flex;
            justify-content:space-evenly;
            align-items: center;

            .banner-text{
                width: 50%;
                h1{
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: #5856D6;
                    margin-bottom: 1.25rem;
                }
                h3{
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #5856D6;
                    margin-bottom: .625rem;
                }
                h4{
                    font-size: 1.125rem;
                    font-weight: bold;
                    color: #5856D6;
                }
            }
        }
    }
    // Cards - Inicio
    .box{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        
        .card, .card2, .card3{
            background: #5856D6;
            border-radius: 2.125rem;
            height: 7.5625rem;
            width: 21.5625rem;
            display: flex;
            flex-direction: row-reverse;  

            img{
                margin-right: .9375rem;
            }
            
            div{
                color: white;
                margin: 1.25rem;

                h3{
                    font-size: 1.375rem;
                    margin-bottom: .625rem;
                }
                p{
                    font-size: .875rem;
                }
                 
            }
        }
    }
    // Ventajas - inicio
    .titulo2{
        width: 100%;
        height: auto;
        background-color: #5856D6;
        color: white;
        font-size: 2.1875rem;
        text-align: center;
        margin-top: 1.875rem;
        h2{
            padding: 1.875rem;
        }
    }
    .ventajas{
        background-color: #5856D6;
        color: white;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2.5rem;
        gap: 1.25rem;
        img{
            margin: .3125rem;
            width: 6.25rem;
            height: 6.25rem;
            border-radius: 50%;
            background: #FFFFFF;
        }
        h4{
            font-size: 1.25rem;
            margin-left: 1.25rem;
        }
        p{
            margin-left: 1.25rem;
            margin-top: .625rem;
        }
        .ventajas1, .ventajas2, .ventajas3{
            width: 53.0625rem;
            height: 100%;
            display: flex;
        }
    }
    // Cuadros recomendaciones - inicio
    .titulo3{
        width: 100%;
        height: auto;
        h2{
            font-size: 3rem;
            color: #5856D6;
            text-align: center;
        }
    }
    .cuadros{
        background-color: #5856D6;
        width: 100%;
        display: flex;
        flex-direction: row wrap;
        gap: 3.4375rem;
        justify-content: center;
        padding-top: 2.75rem;
        padding-bottom: 1.875rem;
   
        h4{
            color: #5856D6;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-size: 1.25rem;
            margin: .6875rem 5rem .6875rem 1rem; 
        }
        p{
            font-family: 'SF Pro Display';
            color: #5856D6;
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.1875rem;
            margin: .6875rem 1.5625rem 2.75rem 1rem;
        }
        
        .cuadro1, .cuadro2, .cuadro3{
            width: 17rem;
            height: auto;
            display: flex;
            background-color: white;
            border-radius: 1.25rem;
            flex-direction: column;
        }
    }
    // descarga info - inicio
    .info-descarga{
        width: 100%;
        height: 10.4375rem;
        background-color: #5856D6;
        display: flex;
        color: white;
        justify-content: space-around;
        .escanea{
            width: 50%px;
            height: 8.25rem;
            display: flex;
            gap: 1.625rem;
            align-items: center;
            img{
                width: 6.25rem;
                height: 6.25rem;
            } 
        }
        .descarga{
            width: 50%px;
            height: 8.25rem;
            display: flex;
            gap: 1.625rem;
            align-items: center;
            img{
                width: 13.3125rem;
                height: 4.875rem;
            }
        }
    }
    // Mi tienda 
    .tienda{
        display: flex;
        justify-content: space-evenly;
        height: 47.0625rem;
        margin-top: 3.125rem;

        .card-info{
            flex-direction: column;
            h3{
                font-style: normal;
                font-weight: 700;
                font-size: 2.125rem;
                color: #FFCC00;
            }
            h5{
                font-style: normal;
                font-weight: 700;
                font-size: 1.5rem;
                color: #5856D6;
                margin-bottom: 3.8125rem;
            }
        }
        .formulario-tienda{
            color: #5856D6;
            font-weight: 700;
            font-size: 1.25rem;
            form{ 
                input{
                    border: .0625rem solid #5856D6;
                    border-radius: .625rem;
                    width: 22.4375rem;
                    height: 2.6875rem;
                    color: black;
                    padding-left: .625rem;
                }
                div{
                    margin: 1.4375rem 0rem .3125rem 0rem;  
                }
            }
            .mapa{
                border-radius: 1.875rem; 
            }
            .enviar-boton{
                input{
                    color: white;
                    background-color: #5856D6;
                    width: 6.625rem;
                    height: 3.125rem;
                    font-weight: 600;
                    font-size: 1.0625rem; 
                }
            }
        }
    }
    // Quienes somos
    .main{
        .somos-domii{
            h2{
                font-weight: 700;
                font-size: 3rem;
                color: #5856D6;
                text-align: center;
                padding: 1.25rem;
            }
            .texto1{
                font-size: 1.25rem;
                color: black;
                margin: 6.25rem;
            }
            .equipo{
                display: flex;
                justify-content: center;
                img{
                    width: 90%;
                    height: auto;
                    align-items: center;
                }
            }
        }
    }
           
    
    // pagina de registro
    .registro{
        display: flex;
        height: 50.25rem;
        align-items: center;
        .imagen1{
            img{
                width: 43.125rem;
                height: 37.625rem;
                border-radius: 1.875rem;
                margin-left: 2.5rem;
            }
        }
        .inicio-sesion{
            margin-left: 7.8125rem;
            .card-inicio{
                display: flex;
                align-items: center;
                flex-direction: column;
                .inicioGoogle{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: .75rem 4.6875rem .75rem 4.375rem;
                    gap: .625rem;
                    width: 22.4375rem;
                    height: 3.625rem;
                    background: #5985E5;
                    border-radius: .9375rem;
                    color: white
                }
                .inicioFacebook, .inicioTwitter{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: .75rem 4.6875rem .75rem 3.75rem;
                    gap: .625rem;
                    width: 22.4375rem;
                    height: 3.625rem;
                    border: .0625rem solid rgba(30, 30, 30, 0.2);
                    border-radius: .9375rem;
                }
            }
            h4{
                color: black;
                text-align: center;
                font-size: 2rem;
                margin-bottom: .625rem;
            }
            div{
                margin: .625rem;
            }
            .inputInicio{
                display: flex;
                flex-direction: column;
                align-items: center;
                div{
                    border: .0625rem solid rgba(30, 30, 30, 0.2);
                }
                input{
                    padding: .875rem 4.6875rem .875rem 1.25rem;
                    gap: .625rem;
                    width: 22.4375rem;
                    height: 2.6875rem;
                    border: .0625rem solid rgba(30, 30, 30, 0.2);
                    border-radius: .625rem;
                    margin-top: 1.25rem;
                }
                p{
                    font-size: .875rem;
                    color: gray;
                    text-align: center;
                    margin-bottom: .625rem;                   
                }
                .boton-inicio2{
                    width: 22.4375rem;
                    height: 2.6875rem;
                    background: #5856D6;
                    border-radius: .625rem;
                    margin-top: 1.25rem;
                    p{
                        color: white;
                        font-size: 1rem;
                        margin-top: .625rem;
                    }
                }
                .olvide1{
                    margin-top: 1.25rem;
                    border: none;
                }
            }
        }
    }
    // pagina Historial
    .hit1{
        h2{
            color: #5856D6;
            font-size: 3rem;
            margin: 1.25rem 0rem 1.25rem 3.125rem;
        }
    }
    .historial1{
        display: flex;
        justify-content: space-around;
        .card-historial{
            div{
                display: flex;
                flex-direction: column;
                width: 25.125rem;
                height: 4.625rem;
                margin: .9375rem;
                border-radius: 1.875rem;
                border: solid #5856D6;      
                h4{
                    color: #5856D6;
                    padding: .875rem 15.25rem .125rem 3rem;                 
                }       
                p{
                    color: #FFCC00;
                    padding: 0rem 15.25rem .5625rem 3rem;                
                }
                i{
                    color: #5856D6;
                    font-size: 1.25rem;
                }
            }
            .card-historia-1{
                background-color: #5856D6;
                h4{
                    color: white;
                }
                i{
                    color: white;
                }
            }
        }
        .card-mapa{
            .card-mapa-1{
                p{
                    color: #5856D6;
                    font-size: 1.25rem;
                    font-weight: 700;
                    margin-bottom: .6875rem;                
                }
            }
            .card-mapa-2{
                width: 22.1875rem;
                height: 11.3125rem;
                border-radius: 1.25rem;
                background: rgba(88, 86, 214, 0.5);
                margin: 1.375rem;
                div{
                    width: 18.0625rem;
                    height: 4.0625rem;
                    background-color: white;
                    margin: .4375rem 1.875rem .4375rem 2.3125rem;
                    border-radius: .9375rem;                 
                }
                h5{
                    font-size: 1rem;
                    font-weight: 400;
                    text-align: center;
                    padding: .625rem 0rem 0rem 0rem;                   
                }
                p{
                    font-size: .8125rem;
                    color: #8E8E93;
                    text-align: center;
                    margin: .625rem 0 .3125rem 0;                   
                }
                i{
                    color: rgba(88, 86, 214, 0);
                }
            }
        }
        .card-info{
            h4{
                color: white;
                font-size: 1.0625rem;
                font-weight: 700;
                padding-left: .9375rem;
                padding-top: .75rem;             
            }
            .tu-domii{
                width: 22.1875rem;
                height: 7.5rem;
                background: rgba(88, 86, 214, 0.5);
                border-radius: 1.25rem;
                margin-bottom: .5rem;
                .dom{
                    width: 19.9375rem;
                    height: 3.1875rem;
                    background: #F2F2F7;
                    border-radius: .625rem;
                    margin: 1.125rem 1.1875rem 1rem 1.0625rem;
                    display: flex;  
                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        margin: .375rem 0 .3125rem .625rem;                    
                    }       
                    i{
                        color: yellow; 
                    }   
                    .dom1{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        margin-left: .625rem;
                        div{
                            display: flex;
                        }
                        p{
                            color: #5856D6;
                            font-size: .9375rem;
                            font-weight: 700;                    
                        }    
                        p:last-child{
                            color: black;
                        }
                    }
                }
            }
            .productos{
                width: 22.1875rem;
                height: 7.5rem;
                background: rgba(88, 86, 214, 0.5);
                border-radius: 1.25rem;
                margin-bottom: .5rem;
                div{
                    width: 18.3125rem;
                    height: 4.25rem;
                    background: #FFFFFF;
                    border: .125rem solid #5856D6;
                    border-radius: .625rem;
                    display: flex;
                    margin: .6875rem 2.0625rem 1.5rem 1.9375rem;
                    align-items: center;
                    justify-content: space-around;
                    img{
                        width: 3.3125rem;
                        height: 2.75rem;
                        border-radius: .625rem;                    
                    }
                }
            }
            .efectivo{
                width: 22.1875rem;
                height: 11.875rem;
                background: rgba(88, 86, 214, 0.5);
                border-radius: 1.25rem;
                .ef{
                    width: 18.1875rem;
                    height: 5.375rem;
                    border-radius: .625rem;
                    background: #FFFFFF;
                    border: .125rem solid #5856D6;
                    margin: 1.3125rem 2.0625rem 2.1875rem 1.9375rem;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;   
                    .ef1{
                        font-size: .9375rem;
                    }        
                    .ef2{
                        font-size: .8125rem;
                        font-weight: 700;
                        color: green; 
                        p:first-child{
                            color: red;
                        }                   
                    }     
                }            
            }
            .boton-ayuda{
                    width: 5.6875rem;
                    height: 3.125rem;
                    background: #5856D6;
                    border-radius: .875rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 3.0625rem;
                p{
                    color: white;
                    text-align: center;
                    font-weight: bold;                  
                }
            }
        }
    }
}